#{extends 'modal.html'/}

<div class="modal-content">

    <h1>MEMBERSHIP</h1>

    <input name="student.id" value="${student?.id}" style="display: none;">

    <table id="membersTable">

        <tr>
            <th>Subject</th>
            <th>Subscription</th>
        </tr>


    #{list items:subjectsExcept, as: 'subjectMember'}
        <tr>
            <td>${subjectMember.getName()}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        onclick="addMembership(${subjectMember?.id}, ${student?.id})">
                    Membership
                </button>
            </td>
        </tr>


    #{/list}

    </table>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

</div>

<script>
    function addMembership(subjectId, studentId) {

        console.log(subjectId, studentId);
        *{console.log("@{controllers.StudentController.addMembership()}?subjectId=" + subjectId + "&" + "?studentId=" + studentId);}*

        $('#mainModal').modal({
            remote: "@{controllers.StudentController.addMembership()}?subjectId=" + subjectId + "&" + "?studentId=" + studentId
        });
    }
</script>