
#{ifErrors}
<div class="alert alert-danger" role="alert">

    <h1>Oops…</h1>
    #{errors}
        <li>${error}</li>
    #{/errors}
</div>
#{/ifErrors}

#{if flash.CREATED}
<div class="alert alert-success" role="alert">
    YEEEEEEEEEEEEEEEES, STUDENT HAS BEEN ADDED
</div>
#{/if}

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/public/css/style.css">
</head>
<body>

<div class="container">
#{if student}<h1>EDIT</h1>#{/if}
#{else } <h1>CREATE</h1>#{/else}
    <div id="header">
        <div id="addStudent" tabindex="-1" role="dialog" aria-hidden="true">
            <div>
                <div>
                    <div>
                        <a href="@{controllers.StudentController.show()}">Back</a>
                        <i class="fa fa-tags modal-icon"></i>
                    #{if student}<h4 class="modal-title">Edit Student</h4>#{/if}
                    #{else } <h4 class="modal-title">Add Student</h4>#{/else}
                    *{                    </div>}*
                    </div>
                #{if student }
                <form id="addStudentForm" class="ajax" action="@{controllers.StudentController.change()}"
                      method="post">
                #{/if}

                #{else }
                <form id="addStudentForm" class="ajax" action="@{controllers.StudentController.save()}"
                      method="post">
                #{/else}

                #{if student}
                    <input name="student.id" value="${student?.id}" style="display: none;">
                #{/if}
                    <div class="form-group  row">
                        <label class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <label>First Name</label>
                            <input name="student.firstName" value="${student?.getFirstName()}"
                                   class="form-control"
                                   id="addNewStudentFirstName" type="text" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input name="student.lastName" value="${student?.getLastName()}"
                                   class="form-control" id="addNewStudentLastName"
                                   type="text" placeholder="Last name">
                        </div>
                    </div>

                    <div class="form-group  row">
                        <label class="col-sm-4 col-form-label">Age</label>
                        <div class="col-sm-8">
                            <input name="student.age" value="${student?.getAge()}" class="form-control"
                                   id="addNewStudentAge" type="text"
                                   placeholder="age">
                        </div>
                    </div>
                #{if student}
                    <div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                #{/if}
                #{else }
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                #{/else}
                </form>
                </div>
            </div>

        #{if student}
        <form id="deleteStudentForm" action="@{controllers.StudentController.delete()}" method="post">
            <input name="student.id" value="${student.getId()}" style="display: none;">
            <button type="submit"
                    class="btn btn-primary">Delete
            </button>
        #{/if}

        </form>

        </div>
    </div>
</div>
</div>
</div>



*{<script>}*

*{    $('form').on('submit', function (event) {}*
*{        var $form = $(this);}*

*{        event.preventDefault();}*
*{        $('.js-alert').addClass('hidden');}*
*{        $('.js-btn').button('loading');}*

*{        $.ajax({}*
*{            url: '@{controllers.StudentController.save()}',}*
*{            type: 'POST',}*
*{            data: $form.serialize(),}*
*{            success: function (response) {}*
*{                $('.js-alert').removeClass('hidden');}*
*{                $('.js-btn').button('reset');}*
*{                // console.log("suc", response);}*
*{                console.log("suc", ${student});}*
*{                // $('#dialogDiv').html(response);}*
*{            },}*
*{            error: function () {}*
*{                alert('Error');}*
*{                console.log("err");}*
*{            }}*
*{        });}*
*{    });}*
*{</script>}*
</body>
</html>