*{@import helper._}*

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
*{    <link rel="stylesheet" type="text/css" media="screen"}*
*{          href="@{'/public/stylesheets/main.css'}"/>}*
*{    <link rel="shortcut icon" type="image/png"}*
*{          href="@{'/public/images/favicon.png'}"/>}*
</head>
<body>
<h1>EDIT</h1>

<div id="header">
    <div class="modal inmodal" id="editStudent" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <a href="@{controllers.StudentController.show()}">Back</a>
                    <i class="fa fa-tags modal-icon"></i>
                    <h4 class="modal-title">Edit Student</h4>
                </div>
                <div class="modal-body">
                    <form id="editStudentForm" action="@{controllers.StudentController.edit()}" method="post">
                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label">First Name</label>
                            <div class="col-sm-8">
                                <input name="student.firstName" autofocus class="form-control" id="editNewStudentFirstName" type="text">
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label">Last Name</label>
                            <div class="col-sm-8">
                                <input name="student.lastName" class="form-control" id="editNewStudentLastName" type="text">
                            </div>
                        </div>

                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label">Age</label>
                            <div class="col-sm-8">
                                <input name="student.age" class="form-control" id="editNewStudentAge" type="text">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>