#{extends 'navBar.html' /}

#{ifErrors}
<h1>Oops…</h1>
#{/ifErrors}

<h1>STUDENTS</h1>
<table id="studentsTable">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Option</th>
    </tr>

#{list items:students, as:'student'}
    <tr>
        <td>${student.getFirstName()}</td>
        <td>${student.getLastName()}</td>
        <td>${student.getAge()}</td>
        <td><a href="@{controllers.StudentController.edit(student.id)}">Edit</a></td>
    </tr>
#{/list}
</table>

<a href="@{controllers.StudentController.edit(0)}">Create new student</a>

