#{extends 'navBar.html' /}

#{ifErrors}
<h1>Oops…</h1>
#{/ifErrors}

<h1>STUDENTS</h1>
<table id="studentsTable">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Option</th>
        <th>Membership</th>
        <th>Add membership</th>
    </tr>

#{list items:students, as:'student'}
    <tr>
        <td>${student.getFirstName()}</td>
        <td>${student.getLastName()}</td>
        <td>${student.getAge()}</td>
        <td><a href="@{controllers.StudentController.edit(student.id)}">Edit</a></td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="membershipForm(${student.id})">
                Membership
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="addMembershipForm(${student.id})">
                Add Subject
            </button>
        </td>
    </tr>
#{/list}
</table>

<a href="@{controllers.StudentController.edit(0)}">Create new student</a>

<script>

    function membershipForm(id) {
        *{console.log("@{controllers.StudentController.membership()}?id=" + id);}*

        $('#mainModal').modal({
            remote: "@{controllers.StudentController.membership()}?id=" + id
        });
    }

    function addMembershipForm(id) {
        $('#mainModal').modal({
            remote: "@{controllers.StudentController.addMembershipCheckSubjects()}?id=" + id
        });
    }
</script>