#{extends 'modal.html'/}

<div class="modal-content">
    <h1>MEMBERSHIP</h1>

    <input name="subject.id" value="${subject?.id}" style="display: none;">

    <table id="membersTable">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>

    #{list items:studentsOfSubject, as: 'studentMember'}
        <tr>
            <td>${studentMember.getFirstName()}</td>
            <td>${studentMember.getLastName()}</td>
            <td>${studentMember.getAge()}</td>
        </tr>
    #{/list}

    </table>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

</div>